@mixin horizontal_line {
  margin-bottom: 15px;
}

.filter {
  padding: 20px;
  max-height: 710px;
  background-color: black;
  border: 1px solid #8b00ff;
  width: 25%;

  .horizontal_line {
    @include horizontal_line;
  }

  .sort {
    margin-bottom: 20px;

    .sort_content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .sort_select {
        width: 80%;
        background-color: black;
      }
    }
  }

  .genres {
    margin-bottom: 20px;

    .horizontal_line {
      @include horizontal_line;
    }
  }

  .age {
    .horizontal_line {
      @include horizontal_line;
    }
  }
}
